a {
  text-decoration: none;
  color: inherit;
}
.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1976d2;
}
error_color {
  color: red !important;
}

#container {
  width: 80%;
  display: grid;
  /* grid-template-rows: repeat(2, 1fr) 1.5fr; */
  grid-template-columns: 3fr 1.2fr;
  grid-gap: 1rem;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box_coment {
  width: 370px;
}
.anchor_style {
  text-decoration: none;
  color: blue;
}
/* pw heading section */
#pw_div {
  /* margin-top: -30px; */
  display: inline-block;
  padding: 0px 5px;
  line-height: 50%;
}

.dialog {
  padding: auto;
}
/* your work section */
#work_div {
  grid-row: 1/3;
  grid-column: 2/3;
  padding: 30px 20px;
  box-shadow: rgba(214, 214, 214, 0.5) -1px -1px 7px 1px inset;
  border-radius: 10px;
}
.btn {
  /* width: 260px;
  height: 60px; */
  margin: 8px 10px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}
.flex-heading {
  display: flex;
  flex-direction: row;
}
.flex-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.justify-btw {
  justify-content: space-between;
}
.fileLogClass {
  /* margin-top: -120px; */
  object-fit: contain;
}
/* button section */
#outer_button_div {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0px 20px;
  width: 340px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(214, 214, 214, 0.5) -1px -1px 7px 1px inset;
  padding-left: 20px;
  padding-right: -20px;
}
#btn1 {
  /* width: 300px;
  height: 50px; */
  margin: 9px 20px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}

/* comment box section */
.img {
  vertical-align: middle;
}
#comment_box {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 12px 0px;
  padding: 5px 7px;
  font-size: 15px;
}
.comment_text {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 15px;
  padding: 20px;
  height: max-content;
}
.submit {
  position: relative;
  background-color: black;
  color: wheat;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment {
  padding: 5px 7px;
  display: flex;
  justify-content: space-between;
}

/* button section */
#outer_button2 {
  border-radius: 10px;
  width: max-content;
}

p {
  display: inline;
  padding: 5px;
}
#textarea {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens smaller than 768px */
  #container {
    display: flex;
    flex-direction: column;
  }

  #outer_button_div {
    margin: 0px auto;
    width: 300px;
    text-align: center;
  }
  #btn1 {
    width: 260px;
  }

  .btn {
    width: 200px;
    text-align: center;
  }

  #work_div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #outer_button2 {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #textarea {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for screens between 768px and 1024px */
  body {
    overflow-x: hidden;
  }
  #container {
    display: flex;
    flex-direction: column;
  }

  #outer_button_div {
    margin: 0px auto;
    width: 300px;
    text-align: center;
  }
  #btn1 {
    width: 260px;
  }

  .btn {
    width: 200px;
    text-align: center;
  }

  #work_div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #outer_button2 {
    text-align: center;
  }
  #textarea {
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header {
  background-image: url(../../public/Wallpaper-Black-And-White-Laptop-Computer-Keyboards-Tech43-1536x864.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .logo {
  font-size: 3.8rem;
  letter-spacing: 5px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}
.header .logo:hover {
  transition: 0.5s ease-in-out;
  font-size: 4rem;
  color: rgb(99, 120, 241);
}
.header .slogan {
  width: 600px;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  transform: translateY(-50px);
  color: rgb(231, 221, 221);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .login {
  margin: 0;
  border: 2px rgb(44, 43, 43) solid;
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  transform: translateY(-30px);
  width: 200px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
}
.header .login:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(99, 120, 241);
  width: 220px;
  border: 0;
  border-radius: 30px;
}
.header .login .btn {
  color: black;
  text-decoration: none;
}
.header .login .btn:hover {
  color: white;
  transition: 0.5s;
}
main {
  margin-top: 50px;
}
.users .about {
  font-size: 3.2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.users .row {
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-between;
  width: 80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.users .row .box {
  display: flex;
  border-radius: 20px;
  background-color: rgb(99, 120, 241);
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.users .row .box .img {
  width: 70px;
  height: 70px;
  margin: 0;
  padding-top: 10px;
  margin: 0;
  justify-content: center;
}
.users .row .box .head {
  font-size: 3rem;
  margin: -5px 0 20px 0;
  padding-top: 20px;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.users .row .box .info {
  width: 95%;
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0;
  margin-top: 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .header {
    background-size: cover;
    overflow-x: hidden;
  }
  .header .slogan {
    display: none;
  }
  .users .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .users .row .box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
